/* media query change the columns in the grid */



@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    color: white;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header,
/* main, */
footer {
    /* max-width: 1000px; */
    /* margin: 1rem auto; */
    margin: 0px;
    /* border: 1px solid #ccc; */
    /* padding: 1rem; */
    padding: 0px;
    background-color: #2b81e3;
    text-align: center;
}

#current-work {
    color: black;
    background-color: #cccccc;
    padding-bottom: 10px;
}

main {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;

}

h1 {
    text-align: center;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2 {
    text-align: center;
    padding: 5px;
}

div.img-grid {
    display: grid;
    grid-template-areas: auto/repeat(1fr, 4);
    background-color: black;
    width: 100%;
    height: 100%;
}

img {
    /* padding: 20px; */
    /* background-color: white; */
    margin: 1em auto;
    border: 10px solid white;
    box-shadow: 5px 5px 10px 1px black;
}

nav {
    text-align: center;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    justify-self: center;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.hide {
    display: none;
}


.menu-btn {
    display: inline-block;
    /* display: block; */
    /* width: 0px; */

}

nav a {
    display: none;
    /* display: block; */
}

nav.open a {
    display: block;
}

@media screen and (min-width: 700px) {




    main {
        grid-template-columns: repeat(2, 1fr);
    }
}



@media (min-width: 1024px) {

    .menu-btn {
        display: none;
    }

    nav {
        text-align: center;
    }

    nav a {
        display: inline-block;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }
}