@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

nav a {
  padding: 20px;
  color: black;
  display: none;
  /* display: flex; */
}

nav a:hover {
  text-decoration: none;
  color: #616061;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 5px 0;
}

footer {
  text-align: center;
}

nav a {
  padding: 20px;
  color: black;
  display: none;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}


/* bruh */


.hide {
  display: none;
}


.menu-btn {
  display: inline-block;
  /* display: block; */
  /* width: 0px; */

}

nav a {
  display: none;
  /* display: block; */
}

@media screen and (min-width: 700px) {
  .menu-btn {
    display: none;
  }

  nav a {
    display: inline-block;
  }
}

/* for fun */

nav.open a {
  display: block;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 700px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  nav {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}